<%= turbo_stream_from "messages" %>
<div data-controller="chat" style="overflow-y: auto;"
    data-chat-current-user-id-value="<%= current_user.id %>">
  <div id="messages" style="background-color: #04011f; color:#eee;">
    <% @messages.each do |message| %>
      <%= render partial: "messages/message", 
      locals: { 
        message: message, 
        display_controls: message.user == current_user
        } %>
    <% end %>
  </div>
</div>