<div>
<%= form_with(
    model: message, 
    id: "message_form",
    method: :post,
    data: {
        controller: "reset-form",
        action: "turbo:submit-end->reset-form#clearInput"
    },
    class: "d-flex p-2") do |form| %>
  <%= form.text_area :body, 
  id: "chat-input", 
  class: "form-control me-2 vw70", 
  data: {
    reset_form_target: "input"
  },
  placeholder: "Type a message..." %>
  <%= form.button class: "btn btn-primary" do %>
  Send
  <% end %>
<% end %>
</div>