<%# user_1 %>
<%= turbo_stream_from dom_id(current_user) %>
<div>
  <div>
    <p class="text-center">Welcome <%= current_user.username %>!</p>
  </div>
  <div id="chatbox">
    <%= render partial: "messages/chatbox", locals: { messages: @messages } %>
  </div>
  <%= render partial: "messages/form", locals: { message: @message } %>
</div>